[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "2.11.2"
duckdb = "1.4.3"
pandas = "2.3.3"

[dev-packages]
pre-commit = "3.7.0"
ruff = "0.5.4"

[requires]
python_version = "3.13.1"